@import 'tailwindcss';
@import "primeicons/primeicons.css";

:root {
    --color-primary: #a3d0e7;
    --color-secondary: #a3e4c6;
    --color-background: #ffffff;
    --color-text: #d3d9de;
    --font-family:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-background);
}

html h1 {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 2rem;
}

html,
body {
    min-height: 100dvh;
    min-width: 100dvw;
    background-color: var(--color-background);
}

body header {
    background-color: var(--color-primary);
    color: var(--color-background);
}

body header h1 {
    color: var(--color-background);
}
